.subtitle {
  width: fill-available;
  margin: 15px;
  font-size: 25px;
  font-weight: 900;
  padding: 10px;
  background-color: lime;
  color: white;
}

.summary-table {
  margin: 0 15px;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  color: #333;
  width: -webkit-fill-available;
}

.summary-table thead {
  background-color: #f8f8f8;
}

.summary-table th,
.summary-table td {
  margin: 15px;
  padding: 12px;
  text-align: left;
}

.summary-table th {
  font-weight: bold;
}

.summary-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.summary-table tbody tr:hover {
  background-color: #e6e6e6;
}
